* {
    padding: 0;
    margin: 0;
    
}

header {
    text-align: center;
    padding: 20px 50px;
    background-color: #FEDB39;
}

main > section > div{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

main {
    padding: 70px 50px;
}

h3 {
    font-family: monospace;
    font-size: 1.6rem;
    color: #202020;
    margin-bottom: 30px;
}

main > section > div > img {
    width: 180px;
    border-radius: 50%;
}

main > section > div > p {
    font-family: monospace;
    font-size: 1rem;
    color: #202020;
    line-height: 1.4rem;
}
section {
    padding-bottom: 100px;
}

figcaption {
    font-family: monospace;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    justify-content: center;
}

li {
    font-size: 1rem;
    color: #202020;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #202020;
    font-family:monospace
}

footer {
    padding: 20px 50px;
    text-align: center;
}
footer > p {
    font-family: monospace;
    font-size: 1rem;
    margin-top: 20px;
    color: rgb(99, 93, 93);
}






