* {
    padding: 0;
    margin: 0;
}

.banner {
    background-image: url('/assets/images/banner.png');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: #41270E;
    padding: 14px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav > ul > li {
    margin: auto 0;
}

li > a {
    font-family: poppins;
    text-decoration: none;
    color: white ;
    margin: auto 0;
}

li > a:hover {
    color: gray;
}

nav > a {
    background-color: #FFB514;
    padding: 6px 14px;
    border-radius: 4px;
    font-family: poppins;
    font-weight: 500;
    color: #41270E;
    text-decoration: none;
}

main {
    padding: 70px 100px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    gap: 50px;
}

.banner-side {
    border-radius: 4px;
}

p {
    font-family: poppins;
    font-size: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h3 {
    font-family: poppins;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer {
    padding: 20px 0;
    background-color: #41270E;
    text-align: center;
}

footer > p {
    font-size: 0.9rem;
    color: white;
}

@media screen and (max-width: 768px) {

    nav {
        padding: 14px 24px;
    }

    main {
        flex-direction: column;
        padding: 50px 24px;
    }

    .banner-side {
        width: 100%;
    }
}
